<footer class="site-footer">
    <div class="footer-big-links">
        <div class="contact">
            <a href="/contact">Contact</a>
        </div>
        <div class="about">
            <a href="/about-me">About</a>
        </div>
    </div>
    <div class="footer-small-links">
        <div class="github-icon">
            <a href="https://github.com/jackamsbry"> {%- include github-icon.svg -%} </a>
        </div>
        <div class="linkedin-icon">
            <a href="https://www.linkedin.com/in/jack-amsbry/">{%- include linkedin-icon.svg -%}</a>
        </div>
    </div>
    <div class="footer-copyright-box">
        <h3>
            © Copyright Jack Amsbry 2020
        </h3>
    </div>
</footer>