@charset "utf-8";

$text-color-light: #e7f0f1;
$text-color-dark: #161b1f;
$bg-color-dark: #061a25;
$bg-color-light: #bed5e2;
$bg-color-black: #030c11;
$highlight-color1: #353129;
$highlight-color2: #3e5a72;
$highlight-color3: #55656f;

body {
    color: $text-color-light;
}