/* Site-wide parameters */

body{
    font-family: Avenir-Next-Pro-LT;
    background-color: $highlight-color2;
}
/* Site Header */
.site-header {
    position: fixed;
    top: 0%;
    background-color: $bg-color-dark;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 15vh;
    width: 100%;
    z-index: 3;
    a {
        margin-left: 2vw;
    }
    #logo {
        grid-column: 1;
        height: 100%;

    }
    nav {
        grid-column: 2;
        height: 100%;
        #navbar {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            height: 100%;
            li {
                height: auto;
                color: $text-color-light;    
                a {
                    position: relative;
                    font-weight: lighter;
                    padding: 2vh;
                    font-size: 32px;
                    height: auto;
                    box-sizing: content-box;
                    color: $text-color-light;
                    text-decoration: none;
                    transition: 500ms;
                    transition: color, 150ms linear;
                }
                a:hover {
                    background-color: $bg-color-light;
                    color: $text-color-dark;
                    transition-duration: 500ms;
                    transition: color, 150ms linear;
                }
                :visited {
                    color: inherit;
                }
            }
        }
    }
}
.PAGE-WRAPPER {
    min-height: 100vh;
}
/* Main Page Content */
.main {
    height: auto;
    position: relative;
    width: 100%;
    min-height: 82.8vh;

    /* Welcome Screen (Only appears on home page) */
    .welcome-screen {
        height: 120vh;
        width: inherit;
        display: flex;
        justify-content: center;
        
        .bg-image {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            max-height: 100%;
            max-width: 100%;
            background-image: url(../img/circuit.jpg);
            background-size: cover;
            margin: auto;
            overflow: auto;
            z-index: -1;

        }
        
        .centered-text {
            position: absolute;
            top: 20%;
            width: inherit;
            text-align: center;
        }

        #site-title {
            font-size: 7em;
            font-weight: lighter;
            letter-spacing: 0.07em; 
            text-shadow: 1px 1px 5px black;
            opacity: 1;
        }
    }

    .home-projects{
        position: relative;
        display: grid;
        grid-template: 10vh auto 10vh auto / 10% 1fr 10% ;
        background-color: $bg-color-black;
        padding-top: 15vh;
        padding-bottom: 10vh;
        .container1 {
            grid-column: 2;
            grid-row: 1;
            background-color: $bg-color-black;
            display: flex;
            justify-content: center;
        }
        h2 {
            align-self: center;
            text-decoration: underline;
            align-content: space-around;
        }
        .container2 {
            grid-column: 2;
            grid-row: 3;
            background-color: $bg-color-black;
            display: flex;
            justify-content: center;
        }

        .current-projects {
            background-color: $bg-color-black;
            grid-column: 2;
            grid-row: 2;
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            padding-bottom: 5vh;
            height: auto;
        }
    
        .past-projects {
            background-color: $bg-color-black;
            grid-column: 2;
            grid-row: 4;
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            padding-bottom: 5vh;
            height: auto;
        }
    }
    .project-box {
        height: 30vh;
        width: 30vh;
        background-color: $bg-color-light;
        transform: scale(1);
        transition-duration: 500ms;
        margin: 3vh 0 3vh 0;
        overflow: hidden;
        display: flex;
        align-content: center;
        a {
            text-decoration: none;
            width: 100%;
            position: absolute;
            left: 0%;
            top: 0%;
            bottom: 0%;
            z-index: 2;
            display: flex;
        }
        h3 {
            text-transform: capitalize;
            text-decoration: none;
            color: $text-color-light; 
            font-size: 175%;
            
            text-align: center;
            width: 100%;
            justify-self: center;
            height: 1em;
            margin: auto;
        }
        #no-img {
            color: $text-color-dark; 
        }
        #image {
            text-shadow: 2px 2px 10px black;
        }

        img {
            max-width: 30vh;
            min-width: 100%;
            z-index: 1;
            
        }
    }
    .project-box:hover {
        transform: scale(1.15);
        transition-duration: 500ms;
    }

    .page-grid {
        display: grid;
        grid-template-columns: 10% 1fr 10%;
        background-color: $bg-color-black;
        min-height: 82.8vh;

        .content {
            grid-column: 2;
            background-color: $bg-color-black;
            padding-top: 15vh;
        }
        h2 {
            text-transform: capitalize;
        }
        #about {
            display: grid;
            grid-template: 10vh auto auto / 55% 45% ;

            .profile-image {
                grid-row: 1;
                grid-column: 2;
                margin: 5vh 10vw 0 15%;
                border-radius: 50%;
                width: 20vw;
                height: 20vw;
                border-width: 3px;
                border-style: solid;
                border-color: $highlight-color3;
            }
            h2 {
                margin: 5vh 5vw 2vh 10vw;
                width: 25%;
            }
            .content-wrapper {
                grid-row: 2;
                grid-column: 1;
            }            
            p {
                margin-left: 10vw;
                position: relative;
            }
        }

        #centered {
            display: grid;
            grid-template-rows: 25vh auto;
            .content-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .projects-wrapper {
        display: grid;
        grid-template-rows: 10vh auto 10vh auto;
        h2 {
            justify-self: center;
            align-self: center;
            
        }
        .current-projects {
            grid-row: 2;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        .past-projects {
            grid-row: 4;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
        }
    }
}

/* Footer Styling */
.site-footer {
    background-color: $bg-color-dark;
    display: grid;
    grid-template-rows: auto auto 5vh;
    min-height: 15vh;
    z-index: 1;
    .footer-big-links {
        display: flex;
        justify-content: center;
        .contact {
            height: 8vh;
            width: 20vw;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .about {
            height: 8vh;
            width: 20vw;
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
        a {
            padding: 1.5vh;
            text-decoration: none;
            font-size: 1.35em;
            color: inherit;
            transition-duration: 500ms;
            transition: color, 150ms linear;
        }
        a:hover {
            background-color: $bg-color-light;
            color: $text-color-dark;
            transition-duration: 500ms;
            transition: color, 150ms linear;
        }
    }
    .footer-small-links {
        display: flex;
        justify-content: center;
        align-items: center;
        .github-icon {
            height: auto;
            
            
            svg {
                width: 32px;
                fill: $text-color-light;
                transition-duration: 200ms;
            }
            svg:hover {
                fill: $highlight-color2;
                transition-duration: 200ms;
            } 
            
        }
        .linkedin-icon {
            height: auto;
            
            padding-left: 30px;
            svg {
                width: 32px;
                fill: $text-color-light;
                transition-duration: 200ms;
            }
            svg:hover {
                fill: $highlight-color2;
                transition-duration: 200ms;
            } 
        }
    }
    .footer-copyright-box {
        text-align: center;
        font-size: 1em;
        padding-top: 1vh;
        
    }
}    
