---
layout: "default"
---
{% include welcome-screen.html %}
<div class="home-projects">
    <div class="container1">
        <h2 id="current-projects">Current Projects Showcase</h2>
    </div>
    <div class="current-projects">
        <div class="project-box">
            <a class="img-link" href="">

            </a>
        </div>
        <div class="project-box">
            <a class="img-link" href="">

            </a>
        </div>
        <div class="project-box">
            <a class="img-link" href="">

            </a>
        </div>
    </div>
    <div class="container2">
        <h2 id="past-projects">Past Projects Showcase</h2>
    </div>
    <div class="past-projects">
        <div class="project-box">
            <a class="img-link" href="">

            </a>
        </div>
        <div class="project-box">
            <a class="img-link" href="">

            </a>
        </div>
        <div class="project-box">
            <a class="img-link" href="">

            </a>
        </div>
    </div>

</div>