---
layout: default
---
{% include welcome-screen.html %}
<div class="home-projects">
    <div class="container1">
        <h2 id="current-projects">Current Projects Showcase</h2>
    </div>
    <div class="current-projects">
        {%- for project in site.projects -%}
            {% if project.type=='showcase' and project.categories contains 'current' %}
                {%- include box-link.html -%}
            {% endif %}
        {%- endfor -%}        
    </div>
    <div class="container2">
        <h2 id="past-projects">Past Projects Showcase</h2>
    </div>
    <div class="past-projects">
        {%- for project in site.projects -%}
            {% if project.type=='showcase' and project.categories contains 'past' %}
                {%- include box-link.html -%}
            {% endif %}
        {%- endfor -%}
    </div>

</div>