---
layout: default
linked_js:
- https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.2/gsap.min.js
custom_js: 
- home
---
{% include welcome-screen.html %}
<div class="home-projects">
    <div class="container1">
        <h2 id="project-showcase">Projects Showcase</h2>
    </div>
    <div class="project-showcase">
        {%- for project in site.projects -%}
            {% if project.type=='showcase'  %}
                {%- include box-link.html -%}
            {% endif %}
        {%- endfor -%}  
        <div class="project-box">
            <a href="/projects">
                <h3 id="no-img">See more...</h3>
            </a>
        </div>      
    </div>
    
</div>